.about-container {
    width: 100%;
    height: fit-content;
    position: relative;
    background-image: linear-gradient(45deg, #c3fdf29a, #d2c9ff);
    transform: skewY(3deg);
    z-index: 0;
}

.about-content { 	
	max-width: 50em;
    margin: 0 auto; 
    transform: skewY(-3deg);
}

.react-parallax {
    height: 100%;
}

.background-text {
    height: fit-content;
    font-size: 100px;
    font-weight: bold;
    margin: 0;
    color: rgb(243, 243, 243);
    position: absolute;
    z-index: -1;
}

.about-text-container {
    margin: auto 30px;
    padding-top: 170px;
}

.about-text {
    text-align: right;
    font-size: 30px;
}

.about-text-container2 {
    margin: auto 30px;
}

.about-text2 {
    text-align: left;
    font-size: 30px;
}

.about-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.about-stroke {
    height: 30px;
    border-right: 1px solid black;
}
