@media screen and (min-width: 850px) {
    /* NAV ---------------------------------- */ 
    .nav-wrapper {
        width: 100vw;
        display: flex;
        justify-content: center;;
    }

    .navbar {
        /* width: 1000px; */
        max-width: 50em;
        opacity: 0.95;
    }

    .logo-container-desktop {
        width: 180px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 10px;
        cursor: pointer;
    }
    .logo-circle-desktop {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-image: linear-gradient(45deg, #c3fdf2, #d2c9ff);
    }


    .nav-items-container {
        padding-right: 40px;
        width: 250px;
        justify-content: space-between;
    }

    /* ABOUT ---------------------------------- */ 

    .about-container {
        height: 650px;
        margin-top: -50px;
        padding-top: 50px;
    }





    /* I DO ---------------------------------- */ 

    .ido-content {
        max-width: 60em;
    }

    #ido-parallax-text {
        margin-left: 80px;
    }

    .ido-container {

    }

    .ido-text-wrapper {
        display: flex;
        align-items: center;
        max-width: 60em;
        height: 500px;
        width: 100%;
        padding-top: 70px;
    }

    .ido-text-container {
        width: 50%;
        margin: 0 30px;
        padding-top: 0;
    }
    
    .ido-text-container2 {
        width: 50%;
        margin: auto 30px;
    }

    

    /* WORK ---------------------------------- */ 

    .work-content {
        max-width: 50em;
    }
    

    .worklist-container {
        margin: 0;
        flex-direction: row;
        overflow: scroll;
        padding: 20px 100px;
        /* padding: 20px; */
    }

    

    .work-item-container {
        height: 350px;
        min-width: 340px;
        transition: 0.3s ease;
    }
   
    .work-item-container:hover {
        transform: translateY(-10px);
    }

    .work-stroke-container {
        display: flex;
        align-items: center;
    }
    .work-stroke {
        width: 60px;
        border: none;
    }

    /* CONTACT ---------------------------------- */ 

  

  }